/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END MEYERS STYLING RESET */

/* BEGIN STYLING */

/* END STYLING */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav > .nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: flex;
}

body > nav > .nav-container > .logo {
  float: left !important;
}

li {
  display: inline-block;
}

.right {
  float: right !important;
}

.about-container {
  padding: 15px;
  background-color: whitesmoke;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  padding-top: 0.5rem;
}

.column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.image-container {
  flex: 40%;
  justify-content: center;
  align-content: center;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.about-project-container,
.about-container {
  flex: 60%;
  padding-top: 1rem;
  margin: auto;
  padding-left: 15px;
}

.project-odd,
.project-even {
  display: flex;
  flex-wrap: wrap;
}

.project-even {
  flex-direction: row-reverse;
}

.project-1-title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
  color: #ff4411;
}

.project-1-description {
  line-height: 28px;
  margin-bottom: 15px;
  color: #666;
}

nav > .nav-container > .left-logo > a {
  color: whitesmoke;
  text-decoration: none;
}

.right > li > a {
  color: whitesmoke;
  text-decoration: none;
}

ul > li > a:hover {
  color: #666;
}
a {
  color: #ff4411;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

a:active {
  color: #0000ff;
}

nav > div > a:hover {
  color: #666;
}

a:hover {
  color: #a03c21;
}

main > div > ul::before {
  border-bottom: 3px solid #666;
  padding: 0 0 15px 0;
  margin-bottom: 8px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.project-odd {
  background-color: #f6f4f4;
}

/* .project-even {
  background-color: #cac9bb;
} */

.footer-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 30px 10px 30px;
}

.footer-nav,
.footer-copyright {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none !important;
}

.parallax-banner {
  background-image: url('../assets/background1.jpg');
  height: 2500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

body,
html {
  height: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

.banner-text > h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  margin: auto;
}

.banner-text > h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin: auto;
}

.portfolio-picture {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-bottom: ;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h2 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* BEGIN CSS MEDIA QUERIES */

/* Responsive Text */

@media only screen and (min-width: 360px) {
  .flow-text,
  .foot-icon {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .flow-text,
  .foot-icon {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .flow-text,
  .foot-icon {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .flow-text,
  .foot-icon {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .flow-text,
  .foot-icon {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .flow-text,
  .foot-icon {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .flow-text,
  .foot-icon {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .flow-text,
  .foot-icon {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .flow-text,
  .foot-icon {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .flow-text,
  .foot-icon {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .flow-text,
  .foot-icon {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .flow-text,
  .foot-icon {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .flow-text,
  .foot-icon {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text,
  .foot-icon {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text,
  .foot-icon {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text,
  .foot-icon {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .flow-text,
  .foot-icon {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .flow-text,
  .foot-icon {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .flow-text,
  .foot-icon {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .flow-text,
  .foot-icon {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .flow-text,
  .foot-icon {
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .flow-text,
  .foot-icon {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .about-container,
  .portfolio-container {
    max-width: 1140px;
    margin: auto;
  }
}

@media only screen and (max-width: 992px) {
  .about-container,
  .portfolio-container {
    max-width: 960px;
    margin: auto;
  }
  .column {
    flex: 0 0 41.67%;
    max-width: 41.67%;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .about-container,
  .portfolio-container {
    max-width: 720px;
    margin: auto;
  }
  .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .about-container,
  .portfolio-container {
    max-width: 540px;
    margin: auto;
  }
}

/* END CSS MEDIA QUERIES */

/* Stuff */
.no-anchor-style {
  text-decoration: none;
}

.footer-links > li > a > .colored {
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-links > li > a > {
  text-decoration: none;
}

.right-nav {
  flex: 8;
  justify-content: flex-end;
  padding-right: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.left-logo {
  padding-left: 30px;
  flex: 4;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin: auto;
}

.links > li {
  padding: 5px 15px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  padding-top: 15px;
}

.about-title,
.title-portfolio {
  font-family: Anton;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 10px;
}

.title-container {
  text-align: center;
  padding: 10px;
}

.center-image {
  display: flex;
  margin: auto;
}

html {
  font-family: Open Sans;
}

/* nav {
  padding: 1rem;
  color: white;
}
body.header-not-at-top nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
body.header-not-at-top {
  padding-top: 44px;
} */

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

.dark-nav-bar {
  color: black !important;
  background-color: white;
}

.dark-nav-bar:hover {
  color: whitesmoke !important;
}
